Nama : Kharisma Gilang P (175410127)
## 2. Using the Python Interpreter
### 2.1.2 Interactive Mode

In [2]:
the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

### 2.2.1 Source Encoding

Untuk mendeklarasikan encoding Untuk mendeklarasikan encoding selain yang default, special comment line harus ditambahkan di baris pertama pada file.

In [3]:
# -*- coding: encoding -*-

Untuk mendeklarasikan bahwa encoding Windows-1252 akan digunakan, baris pertama kode harus sebagai berikut:

In [4]:
# -*- coding: cp1252 -*-

Satu pengecualian untuk aturan baris pertama adalah ketika kode sumber dimulai dengan baris [UNIX “shebang” line](https://docs.python.org/3/tutorial/appendix.html#tut-scripts). Dalam hal ini, deklarasi encoding harus ditambahkan sebagai baris kedua file. Sebagai contoh:

In [5]:
#!/usr/bin/env python3
# -*- coding: cp1252 -*-

## 3. An Informal Introduction to Python
Dalam contoh berikut, input dan output dibedakan dengan ada atau tidaknya prompt ( >>> dan ... ): untuk mengulangi contoh, Anda harus mengetikkan semuanya setelah prompt, ketika prompt muncul; baris yang tidak dimulai dengan prompt adalah output dari interpreter. Perhatikan bahwa prompt sekunder pada baris dengan sendirinya dalam contoh berarti Anda harus mengetikkan baris kosong; ini digunakan untuk mengakhiri perintah multi-line.

Banyak contoh dalam tutorial ini, bahkan yang dimasukkan pada prompt interaktif, termasuk komentar. Komentar dalam Python dimulai dengan karakter hash, # , dan diperluas hingga akhir garis fisik. Sebuah komentar dapat muncul di awal baris atau mengikuti spasi atau kode, tetapi tidak dalam string literal. Karakter hash dalam string literal hanyalah karakter hash. Karena komentar adalah untuk mengklarifikasi kode dan tidak ditafsirkan oleh Python, mereka dapat dihilangkan ketika mengetikkan contoh.

Beberapa contoh:

In [6]:
# contoh
# ini adalah komen pertama
spam = 1  # ini adalah komen kedua
          # ... dan ini adalah komen yang ketiga!
text = "# Ini bukan sebuah komen karena berada dalam quotes"

### 3.1 using Python as a Calculator

### 3.1.1 Numbers

Interpreter bertindak sebagai kalkulator sederhana: Anda dapat mengetikkan ekspresi padanya dan itu akan menulis nilainya. Sintaksis ekspresi mudah: operator +, -, * dan / bekerja sama seperti di sebagian besar bahasa lain (misalnya, Pascal atau C); tanda kurung (()) dapat digunakan untuk pengelompokan. Sebagai contoh:

In [7]:
2 + 2

4

In [8]:
50 - 5*6

20

In [9]:
(50 - 5*6) / 4

5.0

In [10]:
8 / 5  # division always returns a floating point number

1.6

Angka integer (mis. 2, 4, 20) memiliki tipe int, yang dengan bagian pecahan (mis. 5.0, 1.6) memiliki tipe float.

Pembagian (/) selalu mengembalikan nilai float. Untuk melakukan pembagian floor dan mendapatkan hasil bilangan bulat (membuang hasil fraksional apa pun), Anda dapat menggunakan operator //; untuk menghitung sisanya, Anda dapat menggunakan %:

In [11]:
17 / 3

5.666666666666667

In [12]:
17 // 3

5

In [13]:
17 * 3

51

In [14]:
5 * 3 + 2

17

Dengan menggunakan Python, memungkinkan untuk menggunakan operator ** untuk mengkalkulasikan powers

In [15]:
5 ** 2

25

In [16]:
2 ** 7

128

Tanda sama dengan ( = ) digunakan untuk menetapkan nilai ke variabel. Setelah itu, tidak ada hasil yang ditampilkan sebelum prompt interaktif berikutnya:

In [17]:
width = 20
height = 5 * 9
width * height

900

Jika suatu variabel tidak "didefinisikan" (diberi nilai), mencoba menggunakannya akan memberikan error:

In [18]:
n

NameError: name 'n' is not defined

Dukungan penuh untuk floating point; operator dengan tipe operan campuran mengkonversi operan integer ke floating point:

In [19]:
4 * 3.75 - 1

14.0

Pada mode interaktif, ekspresi yang terakhir di cetak di isikan pada variable _.

In [20]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [21]:
price + _

113.0625

In [22]:
round(_, 2)

113.06

### 3.1.2 Strings
Selain angka, Python juga dapat memanipulasi string, yang dapat diekspresikan dalam beberapa cara.

In [23]:
'spam eggs' #single quotes

'spam eggs'

In [24]:
'doesn\'t' # use \' to escape the single quote...

"doesn't"

In [25]:
"doesn't" # ... or use double quotes instead

"doesn't"

In [26]:
'"Yes," they said.'

'"Yes," they said.'

In [27]:
"\"Yes,\" they said."

'"Yes," they said.'

In [29]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

Dalam interpreter interaktif, string output diapit dengan tanda kutip dan karakter khusus lolos dengan garis miring terbalik.

In [30]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [31]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [32]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [33]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

Jika Anda tidak ingin karakter yang diawali dengan \ ditafsirkan sebagai karakter khusus, Anda dapat menggunakan string mentah dengan menambahkan r sebelum kutipan pertama:

In [34]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [35]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

Strings literal dapat memanjang ke banyak baris.

In [36]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

String dapat digabungkan (direkatkan) dengan operator +, dan diulang dengan *:

In [37]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

Dua atau lebih string literal di sebelah satu sama lain secara otomatis digabungkan.

In [38]:
'Py' 'thon'

'Python'

In [39]:
text = ('Put several strings within parentheses '
         'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

Ini hanya berlaku untuk literal, tidak untuk variable atau expression

In [46]:
prefix = 'Py'

In [45]:
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-45-c5901e312aa3>, line 1)

Untuk menggabungkan dengan variable bisa menggunakan +

In [47]:
prefix + 'thon'

'Python'

String dapat diindeks (subscripted), dengan karakter pertama memiliki indeks 0. Tidak ada tipe karakter yang terpisah; sebuah karakter hanyalah sebuah string berukuran satu:

In [49]:
word = 'Python'
word[0]  # character in position 0

'P'

In [50]:
word[5]  # character in position 5

'n'

Indeks juga bisa berupa angka negatif, untuk mulai menghitung dari kanan:

In [51]:
word[-1]  # last character

'n'

In [52]:
word[-2] # second-last character

'o'

In [53]:
word[-6]

'P'

Sebagai catatan indeks -0 sama dengan 0, negative indeks dimulai dari -1

Selain pengindeksan, *slicing* juga didukung. Sementara pengindeksan digunakan untuk mendapatkan karakter individu, *slicing* memungkinkan Anda untuk mendapatkan substring:

In [54]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [55]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [56]:
word[:2] + word[2:]

'Python'

In [57]:
word[:4] + word[4:]

'Python'

Indeks slice default standar yang berguna; indeks pertama yang dihilangkan default ke nol, indeks kedua yang dihilangkan adalah standar untuk ukuran string yang diiris.

In [ ]:
word[:2]   # character from the beginning to position 2 (excluded)

Error: Jupyter cannot be started. Error attempting to locate jupyter: Data Science libraries jupyter and notebook are not installed in interpreter Python 3.7.4 64-bit.

In [59]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [60]:
word[-2:]  # characters from the second-last (included) to the end

'on'

Mencoba menggunakan indeks yang terlalu besar akan menghasilkan error:

In [61]:
words[42]

NameError: name 'words' is not defined

Namun, indeks irisan di luar jangkauan dapat ditangani ketika digunakan untuk mengiris:

In [62]:
word[4:42]

'on'

In [63]:
word[42:]

''

Python strings merupakan immutable sehingga tidak bisa di ubah

In [64]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

Jika butuh string yang berbeda bisa membuat yang baru

In [65]:
'J' + word[1:]

'Jython'

In [66]:
word[:2] + 'py'

'Pypy'

### 3.1.3 Lists

Python memiliki sejumlah tipe data *compound*, yang digunakan untuk mengelompokkan nilai-nilai lainnya. Yang paling serbaguna adalah *list*, yang dapat ditulis sebagai daftar nilai yang dipisahkan koma (items) antara tanda kurung siku. Lists mungkin berisi item dari jenis yang berbeda, tetapi biasanya semua item memiliki jenis yang sama.

In [67]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

Seperti string, daftar dapat diindeks dan di slice

In [68]:
squares[0] # indexing returns the item

1

In [69]:
squares[-1]

25

In [70]:
squares[-3:] # Slicing returns a new list

[9, 16, 25]

Semua operasi slice mengembalikan list baru berisi element yang diminta. Ini berarti bahwa potongan berikut mengembalikan salinan daftar yang dangkal:

In [71]:
squares[:]

[1, 4, 9, 16, 25]

List juga support menggabungan

In [72]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Tidak seperti string yang immutable, list adalah tipe immutable sehingga contentnya bisa di ubah

In [73]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [75]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

Anda juga dapat menambahkan item baru di akhir daftar, dengan menggunakan metode `append()`

In [76]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

Penggantian nilai pada sebuah slice juga dimungkinkan, dan ini bahkan dapat mengubah ukuran daftar atau menghapusnya sepenuhnya:

In [77]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [78]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [79]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [80]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

fungsi built in `len()` juga bisa digunakan pada list:

In [81]:
letters = ['a', 'b', 'b', 'd']
len(letters)

4

Dimungkinkan untuk membuat nest lists (membuat lists yang berisi lists lain), misalnya:

In [82]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [83]:
x[0]

['a', 'b', 'c']

In [84]:
x[0][1]

'b'

### 3.2 First Steps Towards Programming

Tentu saja, kita bisa menggunakan Python untuk tugas yang lebih rumit. Sebagai contoh, kita dapat menulis sub-sequence awal dari Fibonacci series sebagai berikut:

In [87]:
#Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [88]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [89]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,